mixin breadcrumbs(data)
    section.breadcrumbs
        .container
            ul.page-breadcrumb__list
                li.page-breadcrumb__item
                    a(href="#").page-breadcrumb__link Главная
                li.page-breadcrumb__item &gt;
                li.page-breadcrumb__item
                    a(href="#").page-breadcrumb__link Каталог
            h2.breadcrumbs-head Мобильные телефоны